* {
    margin: 0;
    padding: 0;
}

.bj1 {
    background-color: white;
    height: 760px;
}

.top {
    height: 41px;
    background-color: #333333;
    font-family: "Microsoft YaHei";
}

.zhong {
    width: 1227px;
    margin: 0 auto;
    height: 41px;
}

.zuo {
    float: left;
}

.zhong .ziti {
    float: left;
    height: 41px;
    line-height: 41px;
    font-size: 12px;
    margin-left: 0px;
}
.bj1 .topd .tu img{
    position: relative;
    top: 20px;
    width: 56px;
    height: 56px;
 //  z-index: 1;
}
.he {
    float: right;
    height: 41px;
}

.zhong .ziti a:hover {
    color: red;
    background-color: white;

}

.zhong .che {
    float: left;
    height: 41px;
    width: 31px;
    line-height: 41px;
    margin-right: 0px;
}



.zhong a {
    color: #B0B0B0;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 8px;
    height: 41px;
    line-height: 41px;
}

.zhong a:hover {
    color: white;
}

.you {
    float: right;
    height: 41px;
}

.top .zhong .che a:hover {
    background-color: white;
    color: black;
}

.topd {
    height: 100px;
    width: 1227px;
    margin: 0 auto;
    background-color: white;
 //   z-index: 1;
}

.topd .tu {
    float: left;
    height: 100px;
    width: 235px;
    background-color: white;
}

.topdzh {
    float: left;

}
#topdzh_ul li {
    display: inline;
}

.topd .topdzh a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 10px;
    line-height: 100px;
}

.topdzh a:hover {
    color: red;
}

.topdyou {
    float: right;
    background-color: white;
}

.topdyou input {
    height: 49px;
    width: 244px;
    margin-top: 26px;
}

.topdyou .sousuo {
    float: right;
    width: 50px;
    height: 53px;
    margin-top: 26px;
    background-color: white;
}

.loginname ul{

    background: #ffffff;
    display: block;
    z-index: 20000;
    float: left;
    position: absolute;
    left: -180px;
    top: -5px;
}

.tope {
    height: 460px;
    width: 1227px;
    margin: 0 auto;
    background-color: yellow;
 z-index: -22200;
}
.youtu {
    position: relative;
    top: -29px;
    height: 460px;
    width: 992px;
    float: left;
    z-index: 5000;
}
.zuozi {
    width: 235px;
    height: 460px;
    float: left;
    background-color: #b0b0b0;
}

.zuozi a {
    display: block;
    color: white;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    padding-left: 17px;
    padding-top: 1px;
}

.zuozi a:hover {
    background-color: orange;
}



.zhongxia {
    height: 169px;
    width: 1227px;
    background-color: rosybrown;
    margin: 14px auto 17px auto;
}

.zhongxiazuo {
    float: left;
    height: 169px;
    width: 233px;
    background-color: #5F5750;
    position: relative;

}

.quanjin {
    height: 160px;
    width: 210px;
    margin: 0 auto;
    background-color: yellowgreen;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.zhongxiayou {
    float: left;
    height: 169px;
    width: 994px;
    background-color: white;
}

.xia1,
.xia2,
.xia3 {
    float: left;
    margin-left: 15px;
}

.xiaxia {
    width: 1227px;
    height: 402px;
    margin: 0 auto;
}

.bj2 {
    overflow: hidden;
    background-color: #FAFAFA;
}

.xiazi {
    height: 63px;
    line-height: 63px;
    font-size: 24px;
    font-weight: 300;
    width: 1227px;

}

.xiatu {
    height: 298px;
    width: 1227px;
    background-color: #F5F5F5;
    text-align: center;
}

.xiatu1 {
    float: left;
}

.xiatu2,
.xiatu3,
.xiatu4,
.xiatu5 {
    float: left;
    margin-left: 14px;
    width: 233px;
    height: 298px;
    background-color: white;
}

.xiatu p {
    font-size: 14px;
}

.xiatu span {
    font-size: 10px;
    color: #BDBDBD;
}

.nei1 p {
    display: inline-block;
    color: orange;
    font-size: 14px;
}

.nei1 span {
    text-decoration: line-through;
    font-size: 14px;
}

.nei2 p {
    display: inline-block;
    color: orange;
    font-size: 14px;
}

.nei2 span {
    text-decoration: line-through;
    font-size: 14px;
}

.nei3 p {
    display: inline-block;
    color: orange;
    font-size: 14px;
}

.nei3 span {
    text-decoration: line-through;
    font-size: 14px;
}

.nei4 p {
    display: inline-block;
    color: orange;
    font-size: 14px;
}

.nei4 span {
    text-decoration: line-through;
    font-size: 14px;
}

.ditu {
    margin-top: 40px;
    height: 145px;
    width: 1227px;
    background-color: orange;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 1px 7px darkgray;
}

.ditu2 {
    margin-top: 40px;
    height: 120px;
    width: 1227px;
    background-color: orange;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 1px 7px darkgray;
    top: -60px;
}
.ditu3 {
    margin-top: 40px;
    height: 120px;
    width: 1227px;
    background-color: orange;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 1px 7px darkgray;
}

.zhongxiazuo a {
    display: block;
    float: left;
    width: 70px;
    height: 20px;
    background-color: #5F5750;
    padding: 60px 0 0 0;
    text-decoration: none;
    color: white;
    font-size: 10px;
    position: relative;
    text-align: center;

}

.zhongxiazuo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wenzitiao {
    height: 308px;
    background-color: white;
    margin-top: 30px;
    padding-top: 20px;

}

.wenzitiaoxia {
    width: 1227px;
    height: 40px;
    margin: 0 auto;
    background-color: white;
}

.wenzitiaoxia a {
    display: block;
    float: left;
    color: black;
    text-decoration: none;
    border-right: 1px solid #E0E0E0;
    width: 240px;
    height: 40px;
    margin-left: 2px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.wenzitiaoxia .shebian {
    border-right: 0px;
}

.wenzitiaoxia a:hover {
    color: rgba(255, 0, 0, 0.336);
}

.wenzitiaoxia a .img1 {
    position: absolute;
    top: 7px;
    left: 46px;
}

.wenzitiaoxia a .img2 {
    position: absolute;
    top: 7px;
    left: 42px;
}

.wenzitiaoxia a .img3 {
    position: absolute;
    top: 7px;
    left: 46px;
}

.wenzitiaoxia a .img4 {
    position: absolute;
    top: 7px;
    left: 4px;
}

.wenzitiaoxia a .img5 {
    position: absolute;
    top: 7px;
    left: 32px;
}

.wenzixiaxia {
    width: 1227px;
    height: 190px;
    background-color: white;
    border-top: 1px solid #E0E0E0;
    margin: 30px auto;
    padding: 20px;
}

li {
    list-style: none;
}

.xiali, .xiali2, .xiali3, .xiali4, .xiali5, .xiali6 {

    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    color: #E0E0E0;
    margin-top: 10px;
    margin-left: 30px;
}

.xiali7 {

    height: 100px;
    width: 170px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    color: #757575;
    margin-top: -5px;
    margin-left: 20px;
    border-left: 1px solid #E0E0E0;
}

.xiada7 {
    margin-left: 20px;
    height: 40px;
    width: 150px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    color: #FF7529;
    font-size: 14px;
    border-left: 1px solid #E0E0E0;

}

.xiada, .xiada2, .xiada3, .xiada4, .xiada5, .xiada6 {
    margin-left: 9px;
    height: 40px;
    width: 150px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

.f1, .f2, .f3, .f4, .f5, .f6, .f7 {
    float: left;
}
.wenzixiaxia a {
    text-decoration: none;
}
.wenzixiaxia .f1 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f2 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f3 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f4 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f5 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f6 ul li a:link{
    color: #333333;
}
.wenzixiaxia .f1 ul li a:hover {
    color: #FF7529;
}
.wenzixiaxia .f2 ul li a:hover {
    color: #FF7529;
}
.wenzixiaxia .f3 ul li a:hover {
    color: #FF7529;
}
.wenzixiaxia .f4 ul li a:hover {
    color: #FF7529;
}
.wenzixiaxia .f5 ul li a:hover {
    color: #FF7529;
}
.wenzixiaxia .f6 ul li a:hover {
    color: #FF7529;
}
.xiali7 .diyia {
    border: 1px solid #FF7529;
    display: block;
    width: 100px;
    margin: 0 auto;
    position: relative;
    color: #FF7529;
}

.xiali7 .diyia:hover {
    background-color: #FF7529;
    color: white;
}

.xiali7 .diyia img {
    position: absolute;
    top: 7px;
    left: 8px;
}

.diera {
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
}

.diera .dd {
    position: absolute;
    top: 2px;
    right: 25px;
}

.diera .tt {
    position: absolute;
    top: 2px;
    right: 2px;
}

.zuihouxiaozi {
    height: 140px;
    width: 1227px;
    margin: 20px auto;
    background-color: #FAFAFA;
}

.zuihouxiaozitu {
    float: left;
    background-color: #FAFAFA;
    height: 140px;
    width: 70px;
}

.zuihouxiaozizi {
    float: left;
    height: 160px;
    width: 1157px;
    margin-top: 10px;
}

.zuihouxiaozizi a {
    font-size: 10px;
    color: #757575;
    text-decoration: none;
}

.zuihouxiaozizi a:hover {
    color: #FF6A00;
}

.zuihouxiaozizi span {
    font-size: 10px;
    color: #757575;
}

.dibuzi {
    margin-top: 70px;
    height: 50px;
}

.dibuzi p {
    text-align: center;
    font-size: 16px;
    color: #CBCBCB;
    font-weight: 200;
}
.xiali7 ul{
    position: relative;
    left: 25px;
}
.xiada7 span{
    position: relative;
    left: 25px;
}

.gt{
    background-color:transparent;
    position: relative;
    top: 230px;
    border: 0px;
    width: 50px;
    font-size: 25px;
}
.lt{
    background-color: transparent;
    float: right;
    position: relative;
    top: -250px;
    border: 0px;
    width: 50px;
    font-size: 25px;
}
.yc{
    text-align: center;
    width: 100%;
    height: 230px;
    box-shadow: 1px 1px 7px darkgray;
    position: absolute;
    top: 141px;
    left: -0px;
    background-color: #ffffff;
    z-index: 10000;
    display: none;
}
.yc1,.yc2,.yc3,.yc4,.yc5,.yc6{
    float: left;
    height: 230px;
    width: 160px;
   position: relative;
    left: 110px;
    margin: 30px;
}
.yc span{
    font-size: 12px;
}
.yc price{
    font-size: 12px;
    color: #FF6A00;
}
.ycleft{
    position: absolute;
    top: 50px;
    z-index:10;
}
.left1{
    position: absolute;
    left: 295px;
    z-index: 100;
    display: none;
}
.yans{
    box-shadow: -1px -1px 22px darkgray;
}
.ycyc{
    text-align: center;
    width: 100%;
    height: 230px;
    box-shadow: 1px 1px 7px darkgray;
    position: absolute;
    top: 141px;
    left: -0px;
    background-color: #ffffff;
    z-index: 10000;
    display: none;
}
.ycyc1,.ycyc2,.ycyc3,.ycyc4,.ycyc5,.ycyc6{
    float: left;
    height: 230px;
    width: 160px;
    position: relative;
    left: 110px;
    margin: 30px;
}
.ycyc span{
    font-size: 12px;
}
.ycyc price{
    font-size: 12px;
    color: #FF6A00;
}
.ycyc img{
    height: 110px;
    width: 160px;
}
.ds{
    text-align: center;
    width: 100%;
    height: 230px;
    box-shadow: 1px 1px 7px darkgray;
    position: absolute;
    top: 141px;
    left: -0px;
    background-color: #ffffff;
    z-index: 10000;
    display: none;
}
.ds1,.ds2,.ds3,.ds4,.ds5,.ds6{
    float: left;
    height: 230px;
    width: 160px;
    position: relative;
    left: 110px;
    margin: 30px;
}
.ds span{
    font-size: 12px;
}
.ds price{
    font-size: 12px;
    color: #FF6A00;
}
.ds img{
    height: 110px;
    width: 160px;
}
.bjb{
    text-align: center;
    width: 100%;
    height: 230px;
    box-shadow: 1px 1px 7px darkgray;
    position: absolute;
    top: 141px;
    left: -0px;
    background-color: #ffffff;
    z-index: 10000;
    display: none;
}
.bjb1,.bjb2,.bjb3,.bjb4,.bjb5,.bjb6{
    float: left;
    height: 230px;
    width: 160px;
    position: relative;
    left: 110px;
    margin: 30px;
}
.bjb span{
    font-size: 12px;
}
.bjb price{
    font-size: 12px;
    color: #FF6A00;
}
.bjb img{
    height: 110px;
    width: 160px;
}
.left1{
    background: #ffffff;
}
.loginname{
    height: 41px;
    width: 50px;
    position: absolute;
    right: 287px;
    display: none;
    top: 46px;
}
.loginname span{
    color: #ffffff;
    font-size: 12px;
    position: relative;
    top: 8px;
}
.loginname ul{
    box-shadow: 1px 1px 7px darkgray;
}
#top_ul,#top_ul li {
    display: inline;

}
#one,#one li{
    display: block;
}
.topdzh #topdzh_ul li{
    height: 100px;
}
.lxyans{
    color: #FF6A00;
}
